<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<w:settings xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:wp="http://schemas.openxmlformats.org/drawingml/2006/wordprocessingDrawing" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w10="urn:schemas-microsoft-com:office:word"><w:zoom w:val="fullPage"/><w:footnotePr><w:footnotePr><w:pos w:val="pageBottom"/><w:numFmt w:val="decimal"/><w:numRestart w:val="continuous"/></w:footnotePr><w:footnote w:id="0"/><w:footnote w:id="1"/></w:footnotePr><w:drawingGridHorizontalSpacing w:val="181"/><w:drawingGridVerticalSpacing w:val="181"/><w:displayHorizontalDrawingGridEvery w:val="1"/><w:displayVerticalDrawingGridEvery w:val="1"/><w:characterSpacingControl w:val="compressPunctuation"/><w:compat><w:doNotExpandShiftReturn/></w:compat>
</w:settings>